{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-10 mx-auto flex " style="height: 80vh;">

    <!-- Chat Container -->
    <div class="flex-1 bg-white flex">

        <!-- Sidebar -->
        <div class="bg-gray-300 p-4 flex-shrink-0 w-1/4 overflow-y-auto">
            <!-- User Profile Section -->
            <div class="mt-4 mb-5 flex flex-col gap-3 items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <p class="font-bold">{{ request.user.username }}</p>
                <a href="{% url 'logout' %}" class="p-3 bg-green-500 text-gray-200 rounded-xl">logout</a>
                <div class="bg-gray-500 p-3 rounded-xl text-white shadow-md">
                    <h1 class="text-md">Press <span class="text-yellow-500">Esc</span> to return to the home page</h1>
                </div>
                

                <!-- Add more profile information as needed -->
            </div>
            <hr>
            <hr>
            <!-- List of contacts goes here -->
            <div class="bg-gray-300 p-4  overflow-y-auto">
                {% for user in users %}
                <div class="mb-5 mt-5">
                    <div class="flex items-center space-x-2  mb-5 flex flex-row items-center rounded-xl {% if username == user.username %} text-white bg-green-500 {% else %} text-black {% endif %} ">
                        <a href="{% url 'chat' user.username %}" class="p-3">
                            <p class="font-semibold">{{ user.username }}</p>
                        </a>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
            <!-- Add more contacts as needed -->
        </div>

        <!-- Chat area -->
        <div class="flex-1 bg-white p-4 flex flex-col">

            <!-- Chat header -->
            <div class="border-b-2 border-gray-300 p-4">
                <div class="flex items-center mb-5">
                    <div>
                        <p class="font-semibold">{{ chat_user.username }}</p>
                        <p class="text-gray-500">Online</p>
                    </div>
                </div>
            </div>

            <!-- Chat messages -->
            <div class="overflow-y-auto mt-5 flex-1" id="messagearea">
                {% for message in message_obj %}
                {% if message.sender != request.user.username %}
                <div class="flex items-start mb-4">
                    <div class="bg-gray-300 p-3 rounded-lg">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
                {% else %}
                <div class="flex items-end justify-end mb-4">
                    <div class="bg-green-500 p-3 rounded-lg text-white">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
                {% endif %}
                <!-- Add more messages as needed -->
                {% endfor %}
            </div>
            
            <!-- Typing indicator container -->
            <div id="isTypingIndicator" class=" hidden bg-blue-100 text-blue-600 italic p-2 rounded-md"></div>

            <!-- Message input area -->
            <form action="" class="mt-4 flex items-center" id="chatMessageSubmit">
                <textarea placeholder="Type your message..." class="flex-1 border p-2 rounded-md resize-none" id="messageInput"></textarea>
                <button class="bg-green-500 text-white px-4 py-2 rounded-md ml-2" id="">Send</button>
            </form>
        </div>
    </div>
</div>

{{ chat_user.username | json_script:"json-username" }}
{{ request.user.username | json_script:"json-message-username" }}

<script src="{% static 'js/chat.js' %}"></script>
<script>
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
            event.preventDefault(); // Prevent any default behavior associated with the 'Escape' key
            window.location.href = "{% url 'home' %}";
        }
    });
</script>

{% endblock %}
